---
title: flex
date: 2023-02-02T09:31:27+01:00
draft: true
scripts:
- flex.js
---


<p><strong>This page is no needed but could be converted to something else.</strong></p>

<p>The <code>flex</code> property is applied to flex items. It combines the <code>flex-grow</code>, <code>flex-shrink</code> and <code>flex-basis</code> properties.</p>

<p>Adding a flex value of 1 to the flex items. The default is <code>auto</code>.</p>

<div class="buttons">
  <button class="btn" id="flex-1">flex: 1</button>
  <button class="btn" id="gap">gap: 0.25em</button>
</div>

<ul id="flex-list" class="flexlist df">
  <li>item 01</li>
  <li>item 02</li>
  <li>item 03</li>
  <li>item 04</li>
  <li>item 05</li>
</ul>



