---
title: flex-wrap & flex
date: 2019-04-29
scripts:
- flexbox.js
---


<p>Flexbox doesn't wrap with default value which is <code>nowrap</code></p>

<h2>Flex</h2>
<p>The <code>flex</code> property is applied to flex items. It combines the <code>flex-grow</code>, <code>flex-shrink</code> and <code>flex-basis</code> properties.</p>

<p>Adding a flex value of 1 to the flex items. The default is <code>auto</code>.</p>

<div class="buttons">
  <button class="btn" id="display-flex">display: flex</button>
  <button class="btn" id="flex-wrap">flex-wrap: wrap</button>
  <button class="btn" id="gap">gap: 0.25em</button>
  <button class="btn" id="flex-1">flex: 1</button>
</div>


<ul id="first-list" class="flexlist">
  <li>item 01</li>
  <li>item 02</li>
  <li>item 03</li>
  <li>item 04</li>
  <li>item 05</li>
  <li>item 06</li>
  <li>item 07</li>
  <li>item 08</li>
  <li>item 09</li>
  <li>item 10</li>
  <li>item 11</li>
  <li>item 12</li>
</ul>

