*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --pink: #fdd8de;
  --content-radius: 45px;
  --content-width: min(900px, 95vw);
  --content-left-margin: clamp(0.94rem, calc(-13.12rem + 22.50vw), 15.00rem);
}
body {
  margin: 0;
  background-color: #8ebcf1;
  background-image: url(/img/wickedbackground-2.svg);
  background-size: cover;
  background-attachment: fixed;
  font-size: clamp(0.81rem, calc(0.47rem + 1.55vw), 1.38rem);
  font-family: comfortaaRegular, OrkneyRegular, 'Segoe UI', Segoe,'Trebuchet MS',Arial,sans-serif;
  line-height: 1.6;
  color: #737373;;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
main#content {
display: flex;
flex-direction: column;
padding: 1.5em;
width: var(--content-width);
margin: 0 auto 1em var(--content-left-margin);
background-color: var(--pink);
border-radius: var(--content-radius);
}

header,
footer {
  margin-left: var(--content-left-margin);
  padding: 1.5em;
}

footer {
  width: var(--content-width);
  margin: 1em auto 0 var(--content-left-margin);
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  border-radius: var(--content-radius) var(--content-radius) 0 0;
  background-color: var(--pink);
  font-size: 0.8em;
}
footer ul {
  flex-direction: column;
}

h1 {
font-family: comfortaaBold, sans-serif;
font-size: 3.5em;
line-height: 1;
margin: 0.5em 0;
}
h2 {
  margin: 2em 0 .5rem 0;
}
h2 + :is(p, ul, ol, blockquote) {
  margin-top: 0.5rem;
}

.flexlist {
/* display: flex; */
list-style-type: none;
padding: 0;
margin: 0;
}

ul.flexlist > li {
padding: 1em;
background-color: lightblue;
border: solid 1px #777;
border-radius: 18px;
text-align: center;
line-height: 1.2;
}
.wrap {
flex-wrap: wrap;
}

.wrap li {
background-color: #ccc;
}
ul:nth-of-type(3) {
margin-top: 1.5em;
flex-wrap: wrap;
justify-content: space-between;
font-size: 15px;
}
ul:nth-of-type(3) li {
background: transparent;
padding: 0;
border:none;
}

ul:nth-of-type(3) li a {
padding: .4em 1em;
background: #aaa;
color: fuschia;
transition: 1s;
}

ul:nth-of-type(3) li a {
text-decoration:none;
border-radius: 22px;
}
ul:nth-of-type(3) li a:hover, ul:nth-of-type(3) li:hover {
background: red;
color:white;
transform: scale(1.1);
}

hr {
margin: 1.5em 0;
}
section.footer {
margin-top: 4em;
border-top: solid 1px currentColor;
font-size: .8em;
}
.created-on {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
}
.buttons > * {
  flex: 1;
}

button {
  all: unset;
  display: inline-block;
  margin: .5em auto;
  padding: 0.5em;
  background-color: #2699fd;
  text-align: center;
  line-height: 1;
  color: #fffa;
  border-radius: 10px;
  cursor: pointer;

}

/* ======== UTILITY CLASSES ========= */

.active {
  background-color: #a00;
  color: #fff;
}
.df {
  display: flex;
}
.fdc {
  flex-direction: column;
}
.fw {
  flex-wrap: wrap;
}
.gap {
  gap: 0.25em;
}

.flex-1 > li {
  flex: 1;
}