<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="{{ replace .Title " " "-" | lower }}">
        {{- partial "header.html" . -}}
        <main id="content">
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>
