<footer>
    <div class="copyright">
        Site upadated on: {{ now.Format "2 Jan 06" }}<br>
        {{ .Site.Title }}&copy;{{ now.Year }}</div>

    <ul>
        <li>Elsewhere..</li>
        <li><a href="../dot.css/flex1.html">CSS.Geek on Flexbox</a></li>
        <li><a href="https://www.flexbox.io">Wes Bos Flexbox course</a></li>
    </ul>

    <p>Font: <a href="https://fontlibrary.org/en/font/comfortaa">Comfortaa</a></p>

</footer>