<head>
    {{ hugo.Generator }}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2250%22 fill=%22%23ffc0cb%22></rect><path fill=%22%234f4f4f%22 d=%22M6.18 68.26L6.18 68.26Q5.15 68.26 4.44 67.55Q3.74 66.85 3.74 65.82L3.74 65.82L3.74 34.00Q3.74 32.92 4.44 32.23Q5.15 31.55 6.18 31.55L6.18 31.55L27.43 31.55Q28.51 31.55 29.17 32.19Q29.82 32.82 29.82 33.86L29.82 33.86Q29.82 34.84 29.17 35.45Q28.51 36.06 27.43 36.06L27.43 36.06L8.63 36.06L8.63 47.49L22.12 47.49Q23.20 47.49 23.86 48.12Q24.51 48.75 24.51 49.74L24.51 49.74Q24.51 50.73 23.86 51.36Q23.20 52.00 22.12 52.00L22.12 52.00L8.63 52.00L8.63 65.82Q8.63 66.85 7.92 67.55Q7.22 68.26 6.18 68.26ZM41.81 68.26L41.72 68.26Q39.65 68.26 38.05 67.13Q36.45 66.00 35.56 64.05Q34.67 62.10 34.67 59.56L34.67 59.56L34.67 33.90Q34.67 32.87 35.32 32.21Q35.98 31.55 37.02 31.55L37.02 31.55Q38.05 31.55 38.71 32.21Q39.37 32.87 39.37 33.90L39.37 33.90L39.37 59.56Q39.37 61.30 40.02 62.43Q40.68 63.56 41.72 63.56L41.72 63.56L42.89 63.56Q43.83 63.56 44.42 64.22Q45.01 64.88 45.01 65.91L45.01 65.91Q45.01 66.94 44.11 67.60Q43.22 68.26 41.81 68.26L41.81 68.26ZM60.37 68.45L60.37 68.45Q56.47 68.45 53.44 66.78Q50.41 65.11 48.70 62.17Q46.98 59.24 46.98 55.43L46.98 55.43Q46.98 51.57 48.60 48.64Q50.22 45.70 53.09 44.03Q55.96 42.36 59.67 42.36L59.67 42.36Q63.34 42.36 65.97 43.98Q68.60 45.61 69.99 48.45Q71.37 51.29 71.37 55.01L71.37 55.01Q71.37 55.90 70.76 56.49Q70.15 57.07 69.21 57.07L69.21 57.07L50.27 57.07L50.27 53.31L69.07 53.31L67.14 54.63Q67.10 52.28 66.20 50.42Q65.31 48.57 63.66 47.49Q62.02 46.40 59.67 46.40L59.67 46.40Q56.99 46.40 55.09 47.58Q53.18 48.75 52.20 50.80Q51.21 52.84 51.21 55.43L51.21 55.43Q51.21 58.01 52.38 60.03Q53.56 62.06 55.63 63.23Q57.70 64.41 60.37 64.41L60.37 64.41Q61.83 64.41 63.36 63.87Q64.89 63.32 65.83 62.62L65.83 62.62Q66.53 62.10 67.35 62.08Q68.18 62.06 68.79 62.57L68.79 62.57Q69.59 63.28 69.63 64.12Q69.68 64.97 68.88 65.58L68.88 65.58Q67.28 66.85 64.91 67.65Q62.54 68.45 60.37 68.45ZM94.12 68.26L94.12 68.26Q93.65 68.26 93.23 68.12Q92.80 67.98 92.43 67.51L92.43 67.51L84.20 57.64L82.51 55.95L74.33 46.26Q73.72 45.51 73.68 44.64Q73.63 43.77 74.15 43.16Q74.66 42.55 75.70 42.55L75.70 42.55Q76.82 42.55 77.48 43.35L77.48 43.35L85.52 52.94L86.74 54.07L95.58 64.64Q96.28 65.49 96.26 66.31Q96.24 67.13 95.65 67.70Q95.06 68.26 94.12 68.26ZM76.17 68.26L76.17 68.26Q75.23 68.26 74.69 67.67Q74.15 67.08 74.15 66.24Q74.15 65.39 74.80 64.55L74.80 64.55L82.79 54.54L85.33 58.11L77.86 67.51Q77.15 68.26 76.17 68.26ZM95.20 46.45L87.78 56.18L84.53 53.41L92.10 43.35Q92.48 42.88 92.90 42.72Q93.32 42.55 93.84 42.55L93.84 42.55Q94.87 42.55 95.39 43.19Q95.91 43.82 95.88 44.71Q95.86 45.61 95.20 46.45L95.20 46.45Z%22></path></svg>" />
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/comfortaa-bold" type="text/css"/> 
    {{/*  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">  */}}

    {{ $scss := resources.Get "scss/main.scss" }}
    {{ $options := dict "transpiler" "dartsass" }}
    {{ $css := $scss | toCSS $options }}
    <link rel="stylesheet" media="screen" href="{{ $css.RelPermalink }}">

    {{ with .Params.scripts }}
        {{- range . -}}
        <script src="/js/{{ . }}" defer></script>
        {{- end -}}
    {{ end }}
</head>
