<section class="footer">


  <p class="created-on">
    <time>Created on: {{ .Date.Format "2 January 06" }}</time>
    <time>Modified on: {{ .Lastmod.Format "2 January 06" }}</time>
</p>
  <ul>
    <li><a href="../dot.css/flex1.html">CSS.Geek on Flexbox</a></li>
    <li><a href="https://www.flexbox.io">Wes Bos Flexbox course</a></li>
    <li>something else</li>
  </ul>

  <p>Font: <a href="https://fontlibrary.org/en/font/comfortaa">Comfortaa</a></p>
</section>
