{{ define "main" }}

<h1>{{ .Site.Title }}</h1>

<div class="content">
    {{ .Content }}
</div>

<aside>
    <h2>All pages</h2>
    <ul>
        {{ range .Site.RegularPages.ByDate }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
</aside>
    
{{ end }}