<ul class="flexlist">
    <li>item 01</li>
    <li>item 02</li>
    <li>item 03</li>
    <li>item 04</li>
    <li>item 05</li>
    <li>item 06</li>
    <li>item 07</li>
    <li>item 08</li>
    <li>item 09</li>
    <li>item 10</li>
    <li>item 11</li>
    <li>item 12</li>
    <li>item 13</li>
    <li>item 14</li>
    <li>item 15</li>
    <li>item 16</li>
</ul>